body {
    background-color: #F4F4F4;
    padding-bottom: 20px; font-style: normal;
    font-weight: 400;
	margin:0px;
    color: #666666;
    font-family: pt_sansregular,Helvetica;
    font-size: 12px;
}
.sign-in-triangle {
    border-color: #99CCFF #99CCFF transparent transparent;
    border-style: solid;
    border-width: 50px;
}

.sign-in-triangle, .sign-in-title, .profile-triangle, .profile-title {
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    width: 130px;
}
.sign-in-title, .profile-title {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    padding-right: 50px;
    padding-top: 13px;
    text-align: right;
}
.sign-in-triangle, .sign-in-title, .profile-triangle, .profile-title {
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 31px;
}
.width-container #logo{
display: inline-block;
}

.sf-menu a, .sf-menu a:visited {
    color: #8D8D8D;
}
.sf-menu a, .sf-menu a:visited {
    color: #8D8D8D;
    font-size: 16px;
    font-weight: bold;
    text-shadow: none;
}
.sf-menu a {
    display: block;
    position: relative;
}
.sf-menu a {
    padding-bottom: 46px;
    padding-top: 54px;
}

.sf-menu li.current-menu-item a:after, .sf-menu li.current-menu-item a:hover:after, .sf-menu a:hover:after, .sf-menu li a:hover:after, .sf-menu a:hover:after, .sf-menu a:visited:hover:after, .sf-menu li.sfHover a:after, .sf-menu li.sfHover a:visited:after {
    border-bottom: 3px solid #5BCBA7;
    bottom: 28px;
    content: "";
    left: 50%;
    margin-left: -30%;
    position: absolute;
    transition: all 0.6s ease 0s;
    width: 60%;
}
.sf-menu li.current-menu-item a:after, .sf-menu li.current-menu-item a:hover:after, .sf-menu a:hover:after, .sf-menu li a:hover:after, .sf-menu a:hover:after, .sf-menu a:visited:hover:after, .sf-menu li.sfHover a:after, .sf-menu li.sfHover a:visited:after {
    border-color: #5BCBA7;
}
body .sf-menu li.current-menu-item a:hover:after, body .sf-menu li.sfHover.current-menu-item a:after, body .sf-menu li.current-menu-item a:hover:after, body .sf-menu a:hover:after, body .sf-menu li a:hover:after, body .sf-menu a:hover:after, body .sf-menu a:visited:hover:after, body .sf-menu li.sfHover a:after, body .sf-menu li.sfHover a:visited:after {
    border-color: #FFFFFF;
}
nav select {
    display: none;
}
.sf-menu, .sf-menu * {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.sf-menu {
    line-height: 1;
}

.sf-menu ul li {
    width: 100%;
}
.sf-menu li:hover {
    visibility: inherit;
}
.sf-menu li {
    float: left;
    position: relative;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    left: 0;
    top: 65px;
    z-index: 99;
}
nav {
    float: right;
    position: relative;
    z-index: 15;
	 margin-right: 131px;
}
.sf-menu a {
    line-height: 1;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}
.sf-menu a, .sf-menu a:visited {
    color: #8D8D8D;
    font-size: 18px;
    font-weight: lighter;
    text-shadow: none;
}
.sf-menu li.current-menu-item a, .sf-menu li.current-menu-item a:visited {
    color: #000000;
}

body .sf-menu li.current-menu-item a:hover:after, body .sf-menu li.sfHover.current-menu-item a:after, body .sf-menu li.current-menu-item a:hover:after, body .sf-menu a:hover:after, body .sf-menu li a:hover:after, body .sf-menu a:hover:after, body .sf-menu a:visited:hover:after, body .sf-menu li.sfHover a:after, body .sf-menu li.sfHover a:visited:after {
    border-color: #FFFFFF;
}
.sf-menu li li a:after {
    display: none;
}
.sf-menu li.current-menu-item a:hover, .sf-menu a:hover, .sf-menu li a:hover, .sf-menu a:hover, .sf-menu a:visited:hover, .sf-menu li.sfHover a, .sf-menu li.sfHover a:visited {
    background: none repeat scroll 0 0 #5BCBA7;
    color: #FFFFFF;
}













#center {
    display: block;
    float: left;
    position: relative;
    width: 100%;
}
.post-thumbnail iframe {
  box-shadow: 0 0 11px rgba(125, 78, 57, 0.8);
}

.center-block {
    margin: 0 auto;
    position: relative;
    width: 940px;
}
.divider-1px {
    border-bottom: 1px solid #E6E5E5;
    margin-left: 20px;
    width: 900px;
}
#wrapper {
   /* border: 1px solid #EDEDED;*/
    display: block;
    margin: 0 auto 30px;
    position: relative;
    width: 1050px;
/*box-shadow: 0 -2px 150px rgba(0, 78, 1, 0.2);*/
}
#wrapper-content {
}
#wrapper-content .center-block {
    display: block;
    left: 50px;
    margin: 0 auto;
    padding: 15px 0;
    position: relative;
    width: 1068px;
}
.left-content, .right-content {
    float: left;
   width: 760px;
}
.right-sidebar, .left-sidebar {
    float: left;
    width: 220px;
}
.post-block-style1 {
    display: block;
}
.blog-divider-1px {
    margin: 30px 0;
    width: 700px;
}
.post-block-style1 .post-thumbnail {
    float: left;
    height: auto;
    margin-bottom: 15px;
 margin-right: 30px;
    position: relative; 
}
.post-block-style1 .post-meta {

    float: left;
    margin-right: 20px;
    color: #242526;
    font-size: 11px;
    font-weight: bolder;
}
.post-block-style1 .post-text {
	border-bottom: 1px dashed #848484;
    float: left;
    width: 370px;
	margin-bottom: 20px;
}
.post-block-style1 .post-text h3 {
	color: #444;	
    text-transform: none;
}
.post-block-style1 .post-text p {
    margin-bottom: 20px;
}

#wrapper a, #wrapper a:link, #wrapper a:visited {
    color: #777777;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
    outline: medium none !important;
    text-decoration: none;
}
#wrapper a, a:link, #wrapper a:visited {
    outline: medium none !important;
}
.button.white a {
    color: #555555 !important;
    font-family: 'Trebuchet MS' !important;
    font-size: 12px !important;
    font-style: italic;
}

.button a {
    line-height: 12px !important;
    text-decoration: none;
}
.button.readmore {
 margin-top: 35px;
    padding: 3px;
    width: 100px;
}
.button {
  /*  -moz-transition: background-color 0.3s linear 0s;
    box-shadow: 0 -2px 10px rgba(0, 78, 1, 0.2);
    color: #FFFFFF !important;
    cursor: pointer;
    font-family: Arial,sans-serif;
    line-height: 12px !important;
    position: relative;
    text-align: center;
    width: 110px;
    z-index: 2;*/
}
#wrapper p {
    height: 70px;
    line-height: 18px;
    overflow: hidden;
}
#wrapper h3 {
    font-size: 17px;
}

#wrapper h1, #wrapper h2, #wrapper h3, #wrapper h4, #wrapper h5,#wrapper h6 {
    font-family: 'Oswald',sans-serif;
    line-height: 20px;
    margin-bottom: 15px;
	margin-top: 0px;
}
#wrapper a , #wrapper a:link, #wrapper a:visited {
	color: #777;
  text-decoration: none;

    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
    outline: medium none !important;
}

.post-block-style1 .post-thumbnail img {
    height: 200px;
    width: 330px;
}

img.border, iframe.border {
    background: none repeat scroll 0 0 #B0C4DE;
    border: 1px solid #F5ffFa;
    padding: 2px;
}
.post-meta span.date {
    background: none repeat scroll 0 0 #84C54F;
    border: 2px solid #63A430;
    color: #FFFFFF;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    height: 50px;
    width: 80px;
	    text-align: center;
		
		  background: -moz-linear-gradient(center top , #7ECF3C, #55A117) repeat scroll 0 0 transparent;
    border-radius: 0 0 0 0;
    border-top: 2px solid #5EB01A;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


.post-meta span.date i {
	font-family: pt_sansbold;
    color: #FFFFFF;
	font-size:30px;
    font-style: normal;
    font-weight: bold;
display: block;
    height: 32px;
}

.post-block-style1 .post-meta span {
    display: block;
}
.post-meta span a {
    font-size: 11px !important;
	   margin-left: 3px;
}

#nav-pagination {
}
ul.nav-pagination {
    display: block;
    height: 25px;
    left: 50%;
 
    margin-left: -137px;
    position: relative;
	list-style:  none;
	 width: 641px;
}
ul.nav-pagination li {
    float: left;
    height: 25px;
    margin-right: 5px;
    width: 35px;
}

.pag-button {
    display: block;
    padding: 7px 10px;
    text-align: center;
    width: 20px;
}
.button a {
    font-size: 12px;
    line-height: 12px !important;
    text-decoration: none;
}

.nav-pagination li {
    margin-right: 20px !important;
}
.clear {
    clear: both;
}
#content .divider {
    background: none repeat scroll 0 0 #F6F6F6;
    border-bottom: 1px solid #E6E5E5;
    border-top: 1px solid #E6E5E5;
    height: 14px;
    margin: 0;
    padding: 0;
}

.left-content {
    border-right: 1px solid Silver;
    padding-right: 30px;
}

.right-sidebar{
    padding-left: 30px;
}

.portfolio_item1 {
    background: none repeat scroll 0 0 #FFFFFF;
    cursor: default;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
.portfolio_item1:hover .portfolio_item1:before {
    opacity: 0;
}
/*.portfolio_item1:before {
    background: url("images/general_elements/overlay_effect.png") no-repeat scroll center center transparent;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
}*/
.portfolio_item1 .lightbox_item_style1:before, .portfolio_item1 .lightbox_item_style2:before {
    display: none;
}
.portfolio_item1 .portfolio_item1_overlay_content, .portfolio_item1 .content {


}
.portfolio_item1 img {
    display: block;
    position: relative;
}

.portfolio_item1 .portfolio_item1_title {
    left: -2px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;

}
.portfolio_item1 .portfolio_item1_title a {
  color: #FFFFFF !important;
    font-family: 'Lucida Grande' !important;
    font-size: 21px !important;
    margin: 0;
    position: relative;
}
.portfolio_item1 .portfolio_item1_title a:hover {
    color: #222222  !important;
}
.portfolio_item1 .subheader{
    color: #222222;
    padding-bottom: 10px;
    text-transform: uppercase;
	    font-weight: 100;
	font-size: 10px !important;
    margin-top: -13px !important;
}
.portfolio_item1 h6.subheader {
    font-size: 13px;
}
.portfolio_item1 p {
    color: #FFFFFF;
    font-size: 11px;
    line-height: 20px;
    padding: 5px 0 10px;
    position: relative;
}
.portfolio_item1 a.permalink, .portfolio_item1 a.preview {
    background: none repeat scroll 0 0 #222222;
    border-radius: 1000px 1000px 1000px 1000px;
    bottom: 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 40px;
}
.portfolio_item1 a.preview {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #222222;
    right: 44px;
}
.portfolio_item1 a.preview:hover, .portfolio_item1 a.permalink:hover {
    bottom: 12px;
    color: #F15A23;
}
.portfolio_item1 a.preview:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}
.portfolio_item1 a.permalink:hover {
    background: none repeat scroll 0 0 #333333;
}
.portfolio_item1 a.permalink i, .portfolio_item1 a.preview i {
}
.portfolio_item1 .portfolio_item1_categories {
    bottom: 20px;
    color: #222222;
    display: inline-block;
    left: 20px;
    max-width: 60%;
    position: absolute;
}
.portfolio_item1 .portfolio_item1_categories a {
    border-right: 1px solid #222222;
    color: #222222 !important;
    display: inline-block;
    font-size: 9px !important;
    line-height: 10px;
    padding: 0 7px 1px;
    text-transform: uppercase;
}
.portfolio_item1 .portfolio_item1_categories a:last-child {
    border: medium none;
    padding-right: 0;
}
.portfolio_item1 .portfolio_item1_categories a:first-child {
    padding-left: 0;
}
.portfolio_item1 .portfolio_item1_categories a:hover {
    color: #FFFFFF !important;
}
.portfolio_item1 .portfolio_item1_overlay_content {
	height: 160px;
    left: 0;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 290px;
    z-index: 5;
}


/* portfolio item1 transition details */

.portfolio_item1 img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
     filter: grayscale(100%);
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.portfolio_item1:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
    /* -webkit-filter: grayscale(100%);*/
}
.portfolio_item1 .portfolio_item1_overlay_content {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: #f15a23;
   background-color: rgba(241, 90, 35, .95);
   background-image: url(images/general_elements/lightbox_overlay_effect.png);
   background-position: center center;
   background-repeat: no-repeat;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.portfolio_item1:hover .portfolio_item1_overlay_content {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.portfolio_item1 .portfolio_item1_title, .portfolio_item1 .subheader {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.portfolio_item1:hover .portfolio_item1_title,
.portfolio_item1:hover .subheader {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.portfolio_item1 p {
   -webkit-transform: translateX(-100px);
   -moz-transform: translateX(-100px);
   -o-transform: translateX(-100px);
   -ms-transform: translateX(-100px);
   transform: translateX(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.portfolio_item1:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
   -moz-transition-delay: .4s;
   -webkit-transition-delay: .4s;
   -ms-transition-delay: .4s;
   -o-transition-delay: .4s;
   transition-delay: .4s;
}
.portfolio_item1 a.preview, .portfolio_item1 a.permalink {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
}
.portfolio_item1:hover a.preview,
.portfolio_item1:hover a.permalink {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
/* =============== portfolio item1 transition details END=============== */





}.row:before, .row:after {
    content: " ";
    display: table;
}
.dotted {
    background: url("border.png") repeat scroll 0 0 transparent;
    height: 10px;
    margin-bottom: 1px;
	margin-top: 2px;
    width: 331px;
}

@font-face {
    font-family: 'pt_sansbold';
    src: url('fonts/PTS75F-webfont.eot');
    src: url('fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS75F-webfont.woff') format('woff'),
         url('fonts/PTS75F-webfont.ttf') format('truetype'),
         url('fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
}
@font-face {
	    font-family: 'pt_sansregular';
    src: url('fonts/PTS55F-webfont.eot');
    src: url('fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS55F-webfont.woff') format('woff'),
         url('fonts/PTS55F-webfont.ttf') format('truetype'),
         url('fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
}
@font-face {
	    font-family: 'pt_serifitalic';
    src: url('fonts/PTF56F-webfont.eot');
    src: url('fonts/PTF56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTF56F-webfont.woff') format('woff'),
         url('fonts/PTF56F-webfont.ttf') format('truetype'),
         url('fonts/PTF56F-webfont.svg#pt_serifitalic') format('svg');
}
@font-face {
	    font-family: 'pt_serifregular';
    src: url('fonts/PTF55F-webfont.eot');
    src: url('fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTF55F-webfont.woff') format('woff'),
         url('fonts/PTF55F-webfont.ttf') format('truetype'),
         url('fonts/PTF55F-webfont.svg#pt_serifregular') format('svg');
}

@font-face {
	    font-family: 'Hattori_Hanzo';
    src: url('fonts/Hattori_Hanzo.otf');
    src: url('fonts/Hattori_Hanzo.otf?#iefix') format('embedded-opentype'),
         url('fonts/Hattori_Hanzo.ttf') format('truetype'),
 }

 

 
#gallery_foto { 
	
	list-style:none outside none;
	position:relative;
	top:30px;
	width:748px;
	z-index:1;
	height: 920px;
	float:left;
}

#gallery_foto a { 
	background-position:50% 50%;
	border:0px solid #FFFFFF;
	cursor:pointer;
	display:block;
	float:left;
	height:140px;
	margin-bottom:80px;
	margin-right:25px;
	outline:0px solid #DDDDDD;
	width:0px;
}

#gallery_foto a div {
    color: #444444;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    margin-top: 95%;
    text-align: left;
    word-spacing: -1px;
}

#gallery_foto a span{
    color: #888888;
    font-family: Georgia;
    font-size: 12px;
    font-weight: normal;
}
#www{
	display:none;
}
a.fancybox:hover{
    box-shadow: 0 0 20px 0 rgba(10, 10, 10, 0.9);
	border:1px solid black !important;
}
#krutilo #menu_galerey {
    border-right: 1px solid #bbb;
    float: left;
    height: 800px;
    margin-right: 15px;
    padding-right: 5px;
    position: relative;

    width: 222px;

}
#krutilo {
    margin: auto;
    width: 999px;
}
#krutilo #menu_galerey .first1 {
    background: none repeat scroll 0 0 #EEEEEE;
    color: -moz-nativehyperlinktext;
    font-weight: lighter;
    margin-bottom: 2px;
    padding: 5px 5px 5px 15px;
    width: 205px;
	font-size: 13px;
}
#krutilo #menu_galerey .second {
    background: none repeat scroll 0 0 #EEEEEE;
    color: DarkSlateGrey;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 2px;
    padding: 5px 5px 5px 30px;
    width: 190px;
}
#krutilo #menu_galerey div:hover{
    background: #CCC;

}

#krutilo #menu_galerey h3 {
    color: #444444;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
}
#down, #down .left_bg, #down .right_bg {
    background: transparent !important
}



